<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--여기서 DB명 바꾸고 쿼리 좀 바꾸면 될 것 같아용-->
<mapper namespace="ProductDAO">
    <insert id="insertProduct">
        insert into list (brand, product, price, img, info)
        values (#{brand}, #{product}, #{price}, #{img}, #{info})
    </insert>
    <update id="updateProduct">
        update list
        set brand=#{brand}, product=#{product}, price=#{price}, img=#{img}, info=#{info} where seq=#{seq}
    </update>
    <delete id="deleteProduct">
        delete from list
        where seq=#{seq}
    </delete>
    <select id="getProduct" resultType="product">
        select * from list where seq=#{seq}
    </select>
    <select id="getProductList" resultType="product">
        select * from list order by seq desc
    </select>
    <!-- 브랜드별 보기 할 때 아래 주석처리된 것 과 같이 수정하여 사용할 것!! -->
    <select id="getProductListByBrand" resultType="product">
        select * from list where brand=#{brand} order by seq desc
    </select>
    <!--select * from list where brand=#{brand} order by seq desc-->

</mapper>