<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--여기서 DB명 바꾸고 쿼리 좀 바꾸면 될 것 같아용
-->
<mapper namespace="ProductDAO">
    <insert id="insertProduct">
        insert into BOARD (title, writer, content)
        values (#{title}, #{writer}, #{content})
    </insert>
    <update id="updateProduct">
        update BOARD
        set title=#{title}, content=#{content} where seq=#{seq}
    </update>
    <delete id="deleteProduct">
        delete from BOARD
        where seq=#{seq}
    </delete>
    <select id="getProduct" resultType="product">
        select * from BOARD where seq=#{seq}
    </select>
    <select id="getProductList" resultType="product">
        select * from BOARD order by seq desc
    </select>

    <!-- 브랜드별 보기 할 때 사용할 것!! -->
    <select id="getProductListByBrand" resultType="product">
        select * from BOARD where where brand=#{brand} order by seq desc
    </select>




</mapper>