<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--여기서 DB명 바꾸고 쿼리 좀 바꾸면 될 것 같아용
-->
<mapper namespace="OrderDAO">
    <insert id="insertOrder">
        insert into orderList (userName, address, brand, productNumber, count, size)
        values (#{userName}, #{address}, #{brand}, #{productNumber}, #{count}, #{size})
    </insert>
    <update id="updateOrder">
        update orderList
        set userName=#{userName}, address=#{address}, brand=#{brand}, productNumber=#{productNumber}, count=#{count}, size=#{size} where seq=#{seq}
    </update>
    <delete id="deleteOrder">
        delete from orderList
        where seq=#{seq}
    </delete>
    <select id="getOrder" resultType="order">
        select * from orderList where seq=#{seq}
    </select>
    <select id="getOrderList" resultType="order">
        select * from orderList order by seq desc
    </select>

    <!-- 브랜드별 보기 할 때 사용할 것!! -->
    <select id="getOrderListByBrand" resultType="order">
        select * from orderList where where brand=#{brand} order by seq desc
    </select>

</mapper>