<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--여기서 DB명 바꾸고 쿼리 좀 바꾸면 될 것 같아용
-->
<mapper namespace="OrderDAO">
    <insert id="insertOrder">
        insert into orderList2 (uname, pnum, address, pid, size, count)
        values (#{uname}, #{pnum}, #{address}, #{pid}, #{size}, #{count});
    </insert>
    <update id="updateOrder">
        update orderList2
        set uname=#{uname}, pnum=#{pnum}, address=#{address}, size=#{size}, count=#{count}
        where oid=#{oid}
    </update>
    <delete id="deleteOrder">
        delete from orderList2
        where oid=#{oid}
    </delete>
    <select id="getOrder" resultType="order">
        select * from orderList2 where oid=#{oid}
    </select>
    <select id="getOrderList" resultType="order">
        select * from orderList2 order by oid desc
    </select>

    <select id="getProductInfoByOrderList" resultType="order">
        select * from orderList2
        inner join list where orderList2.pid = list.seq
        order by oid desc
    </select>

</mapper>